body{
    background-image: url("images/jason-leung-Xaanw0s0pMk-unsplash.jpg");
    background-size:cover;
}


.form {
    margin-left:30%;
    background-color:black;
    color:lightseagreen;
    width:40%;
    height:30%;
    border:5px;
    font-size:40px;
    padding-left:40px;
    margin-top:10%;
  }